<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a routerLink="/" routerLinkActive="active"><img src="../../../assets/kavak-logo.png" alt="Kavak Logo"></a>
            </div>

            <nav>
              <ul>
                <li>
                  <a routerLink="/" routerLinkActive="active">Comprar Carro</a>
                </li>
                <li>
                  <a routerLink="/" routerLinkActive="active">Vender Carro</a>
                </li>
                <li>
                  <a routerLink="/" routerLinkActive="active">App Kavak</a>
                </li>
                <li>
                  <a routerLink="/" routerLinkActive="active">Sobre nós</a>
                </li>
                <li>
                  <a routerLink="/" routerLinkActive="active">Cadastre-se</a>
                </li>
              </ul>
            </nav>
        </div>

        <div class="search-container">
        <input class="search" type="text" placeholder="Buscar por nome, marca, modelo ou ano">

      </div>

    </div>
</header>
