<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a routerLink="/" routerLinkActive="active"><img src="../../../assets/kavak-logo.png" alt="Kavak Logo"></a>
            </div>

            <nav>
              <ul>
                <li>
                  <a routerLink="/" routerLinkActive="active">Comprar Carro</a>
                </li>
                <li>
                  <a routerLink="/" routerLinkActive="active">Vender Carro</a>
                </li>
                <li>
                  <a routerLink="/" routerLinkActive="active">App Kavak</a>
                </li>
                <li>
                  <a routerLink="/" routerLinkActive="active">Sobre nós</a>
                  <span class="material-symbols-outlined">
                    keyboard_arrow_down
                    </span>
                </li>
                <li>
                  <span class="material-symbols-outlined">
                    account_circle
                    </span>
                  <a routerLink="/register" routerLinkActive="active">Cadastre-se</a>
                </li>
              </ul>
            </nav>
        </div>

        <div class="search-container">
          <form method="get" action="/search">
            <input class="search" type="text" placeholder="Buscar por nome, marca, modelo ou ano" name="query">
            <button type="submit" class="material-symbols-outlined">
              search
              </button>
          </form>
        </div>
    </div>

</header>
