<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Kavak</h1>
            </div>

            <nav>
              <ul>
                <li>
                  <a routerLink="/home" routerLinkActive="active">Comprar Carro</a>
                </li>
                <li>
                  <a routerLink="/home" routerLinkActive="active">Vender Carro</a>
                </li>
                <li>
                  <a routerLink="/home" routerLinkActive="active">App Kavak</a>
                </li>
                <li>
                  <a routerLink="/home" routerLinkActive="active">Sobre nós</a>
                </li>
              </ul>
            </nav>
        </div>

        <div class="search-container">
        <input class="search" type="text" placeholder="Buscar por nome, marca, modelo ou ano">
      </div>

    </div>
</header>
