<app-header></app-header>

<body>
  <p class="promocao-tag" *ngIf="car.promocao">Promoção</p>
  <img [src]="car.get_image" alt="Car image" class="car-img">

  <section class="car-info">

    <div class="row">
    <h2 class="bold">{{car.nome}}</h2>
    <h2 class="bold">{{car.marca}}</h2>
    <h2 class="bold">{{car.modelo}}</h2>
  </div>

    <div class="row">
      <p>{{car.ano}} |</p>
      <p>{{car.km}} km |</p>
      <p>{{car.estado}}</p>
    </div>

    <div class="row">
    <p class="grey-text">Preço: </p>
    <span class="blue-text bold">R$ {{car.preco}}</span>
  </div>

    <button>Tenho interesse!</button>
  </section>
</body>
