<section>
  <nav>
    <ul>
      <li>
        <p>Promoção</p>
        <span class="material-symbols-outlined">
          keyboard_arrow_down
          </span>
      </li>
      <li>
        <p>Compe um carro online</p>
        <span class="material-symbols-outlined">
          keyboard_arrow_down
          </span>
      </li>
      <li>
        <p>Localização - Estado e Loja</p>
        <span class="material-symbols-outlined">
          keyboard_arrow_down
          </span>
      </li>
      <li>
        <p>Marca e modelo</p>
        <span class="material-symbols-outlined">
          keyboard_arrow_down
          </span>
      </li>
      <li>
        <p>Ano</p>
        <span class="material-symbols-outlined">
          keyboard_arrow_down
          </span>
      </li>
      <li>
        <p>Preço</p>
        <span class="material-symbols-outlined">
          keyboard_arrow_down
          </span>
      </li>
      <li>
        <p>Tipo</p>
        <span class="material-symbols-outlined">
          keyboard_arrow_down
          </span>
      </li>
      <li>
        <p>Transmissão</p>
        <span class="material-symbols-outlined">
          keyboard_arrow_down
          </span>
      </li>
      <li>
        <p>Status do carro</p>
        <span class="material-symbols-outlined">
          keyboard_arrow_down
          </span>
      </li>
    </ul>
  </nav>
</section>
