<div class="card-container" role="button" *ngFor="let car of carList" (click)="viewDetails(car.id)">

  <img src={{car.get_image}} alt="carro" class="card-img">
  <p class="promocao-tag" *ngIf="car.promocao">Promoção</p>

  <div class="description-container">

    <div class="row">
    <span>{{car.marca}}</span>
    <span class="card-title">{{car.nome}}</span>
    <span>{{car.modelo}}</span>
  </div>

  <div class="row">

    <p>{{car.ano}} |</p>
    <p>{{car.km}} km |</p>
    <p>{{car.estado}}</p>


  </div>
    <span class="blue-text">R$ {{car.preco}}</span>
  </div>

</div>
